
<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1572127694721-f3de48657e77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80);">
</div>

<div class="container">
  <div class="card website-presentation">

    <p><img src="https://www.cjoint.com/doc/22_06/LFcoQbQlANl_33-332887-flechas-en-png-fleche-droite-png-transparent-png.png">Remplissez un questionnaire simple et rapide.</p>

    <p><img src="https://www.cjoint.com/doc/22_06/LFcoQbQlANl_33-332887-flechas-en-png-fleche-droite-png-transparent-png.png">Nous trouverons le quartier de Lille fait pour vous !</p>

    <p><img src="https://www.cjoint.com/doc/22_06/LFcoQbQlANl_33-332887-flechas-en-png-fleche-droite-png-transparent-png.png">Choisissez la maison de vos rêves.</p>
  </div>
  <button id="find_district"><strong>Trouve ton quartier !</strong></button>
  <div class="form-card">


    <div class="card-page">
      <button id="previous" class="form-button">Précédent</button>
      <button id="next" class="btn btn-primary form-button">Suivant</button>

      <%= simple_form_for :search, url: recap_path, method: "GET" do |f|  %>

      <div class="card form-category">
        <div class="col-sm-12">
          <h2>Quel sont vos moyens de transport ?</h2>
          <div class="card-category">
          <%#= f.label :transport %>
            <div class="type">
              <%= f.input :vlille, input_html: {name: 'transport[vlille]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
            <div class="type">
              <%= f.input :metro, input_html: {name: 'transport[métro]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
            <div class="type">
              <%= f.input :tramway, input_html: {name: 'transport[tramway]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
            <div class="type">
              <%= f.input :bus, input_html: {name: 'transport[bus]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
          </div>
        </div>
      </div>
      <div class="card form-category">
        <div class="col-sm-12">
          <h2>Que prioritisez-vous au quotidien ?</h2>
          <div class="card-category">
            <%#= f.label :vie_quotidienne %>
            <div class="type">
              <%= f.input :supermarché, input_html: {name: 'vie quotidienne[supermarché]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
            <div class="type">
              <%= f.input :ecole, input_html: {name: 'vie quotidienne[école]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
            <div class="type">
              <%= f.input :parc_à_jeux, input_html: {name: 'vie quotidienne[parc_à_jeux]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
          </div>
        </div>
      </div>


      <div class="card form-category">
        <div class="col-sm-12">
          <h2>Qu’aimeriez-vous avoir à quelques pas de chez vous?</h2>
          <div class="card-category">
          <%#= f.label :hobbies %>
            <div class="type">
              <%= f.input :monuments_historiques, input_html: {name: 'hobbies[historical_monuments]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
            <div class="type">
              <%= f.input :bibliothèque, input_html: {name: 'hobbies[bibliothèque]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
            <div class="type">
              <%= f.input :piscine, input_html: {name: 'hobbies[piscine]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
            <div class="type">
              <%= f.input :cinéma, input_html: {name: 'hobbies[cinéma]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
            <div class="type">
              <%= f.input :parc, input_html: {name: 'hobbies[parc]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
          </div>
        </div>
      </div>


      <div class="card form-category">
        <div class="col-sm-12">
          <h2>Ne négligeons pas la santé...</h2>
          <div class="card-category">
            <%#= f.label :santé %>
            <div class="type">
              <%= f.input :hopital, input_html: {name: 'santé[hopital]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
            <div class="type">
              <%= f.input :vétérinaires, input_html: {name: 'santé[vétérinaires]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
            <div class="type">
              <%= f.input :pharmacie, input_html: {name: 'santé[pharmacie]'}, as: :boolean, checked_value: true, unchecked_value: false %>
            </div>
          </div>
        </div>
      </div>
      <%= f.submit "Résumé", class: "form-category" %>
    <% end %>
        <div class="progress-wrapper">
      <div class="progress-container">
        <div class="progress-bar" id="progress"></div>
        <div class="form-circle-bar active"></div>
        <div class="form-circle-bar"></div>
        <div class="form-circle-bar"></div>
        <div class="form-circle-bar"></div>
      </div>
      <button id="previous" class="btn btn-primary form-button">Précédent</button>
      <button id="next" class="btn btn-primary form-button">Suivant</button>
    </div>
  </div>
</div>
