<div class="container-district">

  <h1>Résultats de vos quartiers</h1>

  <%# à retirer ensuite c'est pour voir si on a bien les params %>
  <%# <%= @district_params  %>

  <%# retirer le d-none dans la class une fois que les test js sont fini pour le form %>
  <div class="cards-districts ">
    <% @top_3_districts.each do |district| %>
      <%# On va donner une id à chaque district pour selectionner la bonne ensuite en js %>
      <div id="<%= district.id %>" class="card-district">
        <div class="image-district">
          <a href="#"></a>
          <img src="<%= district.image %>" alt="">
        </div>
        <h4><%= district.name %></h4>
        <p><%= district.description %></p>
        <div class="districts-poi">
          <%= render "icons_list", district_params: [@district_params, district] %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="form-price" class="container-form-price-district d-none">
    <%# la grid se fait sur le search_price %>
    <%= simple_form_for :search_price, url: houses_path, method: "GET" do |f|  %>
      <h4>Prix:</h4>
      <div class="card-price-district">
        <div class="card-min-price">
        <%# <h4>Prix:</h4> %>
          <%= f.input :min, input_html: {name: 'house[min_price]', class: 'min-price-input'}, as: :integer, :label_html => { :class => 'min-price-tag' } %>
          <div class="min-price-value">€</div>
        </div>
        <div class="card-rooms-district">
          <%= f.input :nombre_de_pièces, input_html: { min: 0, max: 10, step: 1, value: 3, name: 'house[number_of_room]', class: 'number-of-rooms-input'}, as: :range, min: 0, max: 10%>
          <div class="room-value">3 pièces</div>
        </div>

        <div class="card-max-price">
          <%= f.input :max, input_html: {name: 'house[max_price]', class: 'max-price-input'}, as: :integer, :label_html => { :class => 'min-price-tag' }%>
          <div class="max-price-value">€</div>
        </div>
        <div class="card-superficie-district">
          <%= f.input :superficie, input_html: {min: 0, max: 250, step: 1, value: 65, name: 'house[square_meter]', class: 'square-meter-input'}, as: :range, min: 0, max: 250 %>
          <div class="superficie-value">65 m²</div>
        </div>
        <%= f.submit "Lancer la recherche", class: "button-search-house"  %>
      </div>
    <% end %>
  </div>

  <%# faire la modale vers carte  %>
  <div class="map-quartier">
    <button>Cartes des quartiers</button>
  </div>
</div>
