<div class="container-district">

  <h1>Résultats de vos quartiers</h1>

  <%# à retirer ensuite c'est pour voir si on a bien les params %>
  <%= @district_params  %>

  <div class="cards-districts">
    <% @districts.each do |district| %>
    <%# On va donner une id à chaque district pour selectionner la bonne ensuite en js %>
      <div id="<%= district.id %>" class="card-district">
        <a href="#"></a>
        <div class="image-district">
          <img src="<%= district.image %>" alt="">
        </div>
        <h4><%= district.name %></h4>
        <p><%= district.description %></p>
        <div class="districts-poi">
          <ul>
            <li>IMAGE</li>
            <li>IMAGE</li>
            <li>IMAGE</li>
            <li>IMAGE</li>
            <li>IMAGE</li>
            <li>IMAGE</li>
            <li>IMAGE</li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="map-quartier">
    <button>Cartes des quartiers</button>
  </div>


  <div class="container d-none">
  <%= simple_form_for :search, url: houses_path, method: "GET" do |f|  %>
    <%= f.input :vlille, input_html: {name: 'transport[vlille]', class: 'checkbox'}, as: :boolean, checked_value: true, unchecked_value: false%>
    <%= f.input :vlille, input_html: {name: 'transport[vlille]', class: 'checkbox'}, as: :boolean, checked_value: true, unchecked_value: false%>
    <%= f.input :metro, input_html: {name: 'transport[métro]', class: 'checkbox'}, as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.submit "Résumé", class: ""  %>
  <% end %>
  </div>
</div>
